//pallete
$main: #353839;
$light: #464F4F;
$secondary: #3D4542;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #fff;
    background: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1 {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 10%;
}

.container {
    display: flex;
    width: 720px;
    height: 400px;
    background: $secondary;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

form {
    position: relative;
    width: 200px;
    background: $main;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

form > div {
    display: flex;
    flex-direction: column;
}

form > div:not(:last-child) {
    margin-bottom: 0.6rem ;
}

form div > *:first-child {
    margin-bottom: 0.4rem;
}

input {
    background: $secondary;
    border: 1px solid #000;
    padding: 0.2rem 0.4rem;
    color: white;
}

button {
    background: #000;
    border: none;
    color: #fff;
    padding: 1rem 0.4rem;
    border-bottom-left-radius: 1rem;
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 100%;
    transition: background-color 0.2s, color 0.5s;
    font-weight: bold;
    font-size: 1.2rem;
    &:hover {
        background: rgb(255, 28, 28);
        color: $main;
    }
}

.visuals {
    width: calc(720px - 200px);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explanation {
    width: 80%;
}

.explanation-main {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.explanation-sub {
    text-align: center;
}

.bar-container {
    width: 100%;
    height: 12px;
    background: #000;
    position: relative;
}

.inside-container {
    height: 100%;
    position: absolute;
    left: 0;
    background: green;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}